header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header div {
  width: 61px;
  height: 24px;
  margin-left: 24px;
}

header img {
  width: 100%;
  height: 100%;
}

header a {
  margin-right: 24px;
  color: #a8afbd;
  padding: 12px;
  border-radius: 12px;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

header a:hover {
  color: white;
  background-color: #a8afbd;
}
